[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next.git
[submodule "themes/nova"]
	path = themes/nova
	url = https://github.com/isudox/hugo-theme-nova.git
[submodule "public"]
	path = public
	url = https://github.com/isudox/isudox.github.io.git
	branch = master
